* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding: 20px;
    background-color: #3E6990;
    color: white;
}


.category-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.category {
    width: 200px;
    margin: 40px;
}

.category > p {
    background-color: #F39B6D;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.button {
    width: 200px;
    height: 100px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.button:hover {
    background-color: #E9E3B4;
    cursor: pointer;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.go-back {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 100px;
    margin-left: 20px;
}

.go-back:hover {
    background-color: #E9E3B4;
    cursor: pointer;
}